.DockContainer {
  display: flex;
}

.DockRowSeparator {
  min-height: 4px;
  cursor: row-resize;
}

.DockRow_tabs {
  display: flex;
}

.DockRow_tab {
  font-size: 14px;
  cursor: move;
  height: 32px;
  padding: 0 8px;
  line-height: 32px;
  text-transform: uppercase;
  color: color(var(--panel-title-color) lightness(-20%));
  &:hover {
    color: color(var(--panel-title-color) lightness(-10%));
  }
  &-selected {
    color: var(--panel-title-color);
    &:hover {
      color: color(var(--panel-title-color) lightness(+10%));
    }
  }
}

.DockTab {
  padding: 8px;
}

.DockCenter {
  flex: 1;
}

.DockColumn {
  display: flex;
  flex-direction: column;
  width: 240px;
}
