.DraggableWindow
  position: absolute
  box-sizing: border-box
  display: flex
  flex-direction: column
.DraggableWindow_label
  border-top: 2px solid #feccbb
  border-left: 1px solid #cccccc
  border-right: 1px solid #cccccc
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  background-color: white
  max-width: 80px
  cursor: move
  padding: 2px
  height: 20px
  box-sizing: border-box
.DraggableWindow_contents
  background-color: #fefefe
  border: 1px solid #cccccc
  border-bottom-left-radius: 3px
  border-bottom-right-radius: 3px
  border-top-right-radius: 3px
  flex: 1
  box-sizing: border-box
.PreviewWindow
  $bg: rgba(140, 240, 140, 0.2)
  position: absolute
  background-color: $bg
  border: 1px solid $bg
  box-sizing: border-box
