.Palette {
  height: 50px;
  overflow-y: scroll;
  border-radius: 2px;
  background-color: var(--palette-background-color);
  padding: 2px;
}
.Palette-row {
  display: flex;
}
.Palette-button {
  width: 12px;
  height: 12px;
  margin: 2px;
}
