.Palette {
  margin: 12px 0;
  height: 50px;
  overflow-y: scroll;
  border-radius: 2px;
  border: 1px solid #dddddd;
  background-color: var(--palette-background-color);
}
.Palette-row {
  display: flex;
}
.Palette-button {
  width: 12px;
  height: 12px;
  margin: 2px;
}
.Palette-button-transparent {
  background-color: #fff;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0; top: 0; width: 6px; height: 6px;
    background-color: #ccc;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0; bottom: 0; width: 6px; height: 6px;
    background-color: #ccc;
  }
}
