.Palette {
  height: 96px;
  box-sizing: border-box;
  padding: 6px;
  background-color: var(--darken-background-color);
  overflow-y: scroll;
}
.Palette-row {
  display: flex;
}
.Palette-button {
  width: 16px;
  height: 16px;
  margin: 2px;
}
.Palette-button-transparent {
  background-color: #fff;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0; top: 0; width: 8px; height: 8px;
    background-color: #ccc;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0; bottom: 0; width: 8px; height: 8px;
    background-color: #ccc;
  }
}
