.SVGIcon {
  background: var(--default-color);
  width: 30px;
  height: 30px;
  &::after {
    content: "\200B";
  }
  &.move {
    mask: url("../../../bundles/icons/flaticon/svg/move.svg") no-repeat;
  }
  &.paint-brush {
    mask: url("../../../bundles/icons/flaticon/svg/paint-brush.svg") no-repeat;
  }
  &.pen {
    mask: url("../../../bundles/icons/flaticon/svg/pen.svg") no-repeat;
  }
  &.rotate {
    mask: url("../../../bundles/icons/flaticon/svg/rotate.svg") no-repeat;
  }
  &.search {
    mask: url("../../../bundles/icons/flaticon/svg/search.svg") no-repeat;
  }
  &.transform {
    mask: url("../../../bundles/icons/flaticon/svg/transform.svg") no-repeat;
  }
}
