.BrushPresetsPanel {
  background-color: var(--darken-background-color);
  flex: 1;
  overflow-y: auto;
  & .ReactDraggableTree {
    min-height: 100%;
  }
  & .ReactDraggableTree_row-selected {
    background-color: var(--lighten-background-color);
  }
  &-brushToolActive {
    & .ReactDraggableTree_row-selected {
      background-color: var(--ui-primary-background-color);
    }
  }
}
.BrushPresetItem {
  display: flex;
  align-items: center;
  & .SVGIcon {
    margin-right: 8px;
  }
}
