.LayerPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.LayerPanel_scroll {
  flex: 1;
  background-color: var(--darken-background-color);
  overflow-y: auto;
  & .ReactDraggableTree {
    min-height: 100%;
  }
  & .ReactDraggableTree_row-selected {
    background-color: var(--ui-primary-background-color);
  }
  & .ReactDraggableTree_toggler:before {
    border-right-color: var(--default-color);
    border-bottom-color: var(--default-color);
  }
}
.LayerPanel_layer {
  height: 40px;
  padding: 4px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  flex: 1;
  &-clipped {
    &:before {
      content: "";
      width: 4px;
      height: 100%;
      margin-right: 8px;
      background-color: var(--ui-primary-background-color);
    }
  }
}
.LayerPanel_layer .ClickToEdit {
  flex: 1;
}
.LayerPanel_layer img {
  margin-right: 12px;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  max-width: 40px;
  max-height: 40px;
}
.LayerPanel_layer-current {
  background-color: grey;
}
.LayerPanel_buttons {
  margin: 4px 8px;
  & button {
    border: none;
    background: none;
    padding: 4px;
  }
  & .SVGIcon {
    width: 16px;
    height: 16px;
  }
}
.LayerDetail {
  margin: 8px;
  & > * {
    display: flex;
    align-items: center;
    margin: 4px 0;
    & > :nth-child(1) {
      width: 48px;
    }
    & > :nth-child(2) {
      flex: 1;
    }
    & > :nth-child(3) {
      width: 32px;
      text-align: right;
    }
  }
}