.NavigatorPanel {
  font-size: 12px;
  &_minimap {
    width: 240px;
    height: 120px;
  }
  &_sliderRow {
    display: flex;
    align-items: center;
    margin: 0 4px 4px;
  }
  & .RangeSlider {
    --handle-size: 12px;
    --rail-height: 4px;
    width: 120px;
    height: var(--handle-size);
    margin: 0 10px;
    &_border {
      position: absolute;
      height: var(--rail-height);
      border: none;
      border-radius: 2px;
      top: calc((var(--handle-size) - var(--rail-height)) / 2);
      background-color: var(--ui-background-color);
    }
    &_fill {
      display: none;
    }
    &_text {
      display: none;
    }
    &_handle {
      width: var(--handle-size);
      height: var(--handle-size);
      border: none;
      border-radius: 50%;
      background-color: var(--default-color);
      top: 0px;
      left: calc(var(--slider-ratio) * 100% - var(--handle-size) / 2);
    }
  }
  & button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }
  & .SVGIcon {
    width: 16px;
    height: 16px;
  }
  &_reset {
    position: relative;
    width: 16px;
    height: 16px;
    &:before {
      content: "";
      position: absolute;
      left: 6px;
      top: 6px;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: var(--default-color);
    }
  }
  &_check {
    margin: 0 4px;
    display: flex;
    align-items: center;
  }
}
