.RootView {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.TitleBarPaddingMac {
  height: 22px;
  background-color: var(--default-background-color);
}
.WindowContent {
  display: flex;
  flex: 1;
}
.ToolSelection {
  z-index: 200;
  transform: translateZ(0);
}
.CenterArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.Sidebar {
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 240px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--default-background-color);
  transform: translateZ(0);
  &[hidden] {
    display: none;
  }
}
.ColorPicker {
  margin: 6px 12px;
  align-self: center;
}
.RGBRangeSliders {
  margin: 6px 12px;
}
.Palette {
  margin: 6px 0;
}
.PanelTitle {
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  text-transform: uppercase;
  color: var(--panel-title-color);
}
.BrushSettings {
  width: 100%;
  font-size: 11px;
  & tbody {
    display: block;
  }
  & tr {
    display: flex;
    align-items: center;
    margin: 4px 0;
  }
  & td {
    display: block;
    &:nth-child(1) {
      width: 64px;
      text-align: right;
      margin: 0;
    }
    &:nth-child(2) {
      flex: 1;
      margin: 0 8px;
    }
    &:nth-child(3) {
      width: 32px;
    }
  }
}

.TransformLayerSettings {
  margin: 0 8px;
  & .Button {
    margin-right: 8px;
  }
}

.CanvasAreaToolSettings {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  & .DimensionSelect_Value > :nth-child(1) {
    width: 64px;
  }
  &_buttons {
    margin-top: 8px;
    margin-right: 8px;
    align-self: flex-end;
    display: flex;
    & > * {
      margin-left: 8px;
    }
  }
}
