.DialogContainer {
  background-color: var(--default-background-color);
  border: 1px solid var(--lighten-background-color);
  box-sizing: border-box;
  &_content {
    padding: 24px;
    display: flex;
    flex-direction: column;
  }
  &_buttons {
    margin-top: 12px;
    align-self: flex-end;
    display: flex;
    font-size: 14px;
    & > * {
      margin-left: 8px;
    }
  }
}
