body
  margin: 0
  background-color: white
.App
  display: flex
  width: 100vw
  height: 100vh
.DrawArea canvas
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
.DrawArea
  position: relative
  flex: 1
  border: 2px solid rgba(240, 240, 240, 1)
.RightSidebar
  width: 256px
  margin: 16px
.ToolSelection
  display: flex
  flex-direction: column
.LeftSidebar
  width: 256px
  display: flex
  flex-direction: column
