* {
  color: var(--default-color);
  user-select: none;
}
div {
  cursor: default;
}
body {
  margin: 0;
  background-color: var(--default-background-color);
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.ToolSelection {
  z-index: 200;
}
.CenterArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.Sidebar {
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 240px;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: var(--default-background-color);
}
.Sidebar-left {
  border-right: 1px solid var(--default-border-color);
}
.Sidebar-right {
  border-left: 1px solid var(--default-border-color);
}
.ColorPicker {
  margin: 6px 12px;
  align-self: center;
}
.RGBRangeSliders {
  margin: 6px 12px;
}
.Palette {
  margin: 6px 0;
}
.PanelTitle {
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  text-transform: uppercase;
  color: var(--panel-title-color);
}
.BrushSettings {
  width: 100%;
  font-size: 11px;
  & tbody {
    display: block;
  }
  & tr {
    display: flex;
    align-items: center;
  }
  & td {
    display: block;
    &:nth-child(1) {
      width: 64px;
      text-align: right;
    }
    &:nth-child(2) {
      flex: 1;
      margin: 0 8px;
    }
    &:nth-child(3) {
      width: 32px;
    }
  }
}

*:focus {
  outline: none
}

.Button {
  border: none;
  background-color: var(--ui-background-color);
  border-radius: 4px;
  height: 24px;
}

.Button-primary {
  background-color: var(--ui-primary-background-color);
}

.TransformLayerSettings {
  & .Button {
    width: 64px;
    margin-right: 8px;
  }
}