.LayerDetail {
  margin: 8px;
  & > * {
    display: flex;
    align-items: center;
    margin: 4px 0;
    & > :nth-child(1) {
      width: 48px;
    }
    & > :nth-child(2) {
      flex: 1;
    }
    & > :nth-child(3) {
      width: 32px;
      text-align: right;
    }
  }
}