.LayerList {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.LayerList .ReactDraggableTree {
  flex: 1;
  overflow-y: scroll;
}
.LayerList_layer {
  height: 48px;
  padding: 12px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  flex: 1;
  &-clipped {
    &:before {
      content: "";
      width: 4px;
      height: 100%;
      margin-right: 8px;
      background-color: var(--ui-primary-background-color);
    }
  }
}
.LayerList_layer .ClickToEdit {
  flex: 1;
}
.LayerList_layer img {
  margin-right: 12px;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  max-width: 64px;
  max-height: 48px;
}
.LayerList_layer-current {
  background-color: grey;
}
