/* Dependencies */
@import "../../bundles/fonts/Lato/lato.css";

/* Variables */
@import "./variables.css";

/* App Styles */
@import "./App.css";
@import "./DimensionSelect.css";
@import "./PictureTabBar.css";
@import "./DrawArea.css";
@import "./ToolSelection.css";

/* Components */
@import "./components/ClickToEdit.css";
@import "./components/ColorSlider.css";
@import "./components/Palette.css";
@import "./components/DraggablePanel.css";
@import "./components/RangeSlider.css";
@import "./components/RGBRangeSliders.css";
@import "./components/ScrollBar.css";
@import "./components/SVGIcon.css";

/* Panels */
@import "./panels/ColorPanel.css";
@import "./panels/LayerPanel.css";
@import "./panels/NavigatorPanel.css";

/* Dialogs */
@import "./dialogs/DialogContainer.css";
