.Navigator {
  &_minimap {
    width: 240px;
    height: 120px;
  }
  & input[type="range"] {
    width: 144px;
  }

  & button {
    border: none;
    background: none;
    padding: 4px;
  }
  & .SVGIcon {
    width: 16px;
    height: 16px;
  }
}
