.Navigator {
  font-size: 12px;
  &_minimap {
    width: 240px;
    height: 120px;
  }
  &_sliderRow {
    display: flex;
    align-items: center;
    height: 24px;
    margin: 0 4px;
  }
  & input[type="range"] {
    -webkit-appearance:none;
    margin: 0 4px;
    width: 132px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ui-background-color);
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: var(--default-color);
    }
  }
  & button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }
  & .SVGIcon {
    width: 16px;
    height: 16px;
  }
  &_reset {
    position: relative;
    width: 16px;
    height: 16px;
    &:before {
      content: "";
      position: absolute;
      left: 6px;
      top: 6px;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: var(--default-color);
    }
  }
}
