.PictureTabBar {
  display: flex;
  height: 32px;
  align-items: flex-end;
  z-index: 100;
  font-size: 13px;
  background-color: var(--default-background-color);
  transform: translateZ(0);
}
.PictureTab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  width: 160px;
  height: 32px;
  border-right: 1px solid var(--default-border-color);
  border-bottom: 1px solid var(--default-border-color);
  user-select: none;
  & * {
    cursor: default;
    position: absolute;
    bottom: 8px;
  }
}
.PictureTab_title {
}
.PictureTab_close {
  right: 8px;
}
.PictureTab-current {
  background-color: var(--lighten-background-color);
  border-bottom: 1px solid transparent;
}
.PictureTabFill {
  box-sizing: border-box;
  flex: 1;
  height: 32px;
  border-bottom: 1px solid var(--default-border-color);
}
