.PictureTabBar {
  display: flex;
  height: 40px;
  align-items: flex-end;
  z-index: 100;
  border-left: 2px solid var(--default-border-color);
  border-right: 2px solid var(--default-border-color);
  font-size: 14px;
}
.PictureTab {
  position: relative;
  height: 40px;
  width: 160px;
  box-sizing: border-box;
  -webkit-user-select: none;
  border-bottom: 2px solid var(--default-border-color);
  & * {
    cursor: default;
    position: absolute;
    bottom: 8px;
  }
}
.PictureTab_title {
}
.PictureTab_close {
  right: 0;
}
.PictureTabFill {
  flex: 1;
  height: 40px;
  border-bottom: 2px solid var(--default-border-color);
  &::after {
    content: "\200B";
  }
}
.PictureTab-current {
  height: 40px;
  background-color: var(--picture-tab-background-color-current);
  border-bottom: 2px solid var(--picture-tab-background-color-current);
}
