.PictureTabBar {
  display: flex;
  height: 32px;
  align-items: flex-end;
  z-index: 100;
  font-size: 13px;
  background-color: var(--darken-background-color);
  transform: translateZ(0);
  overflow: hidden;
  &[hidden] {
    display: none;
  }
}
.PictureTab {
  --margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  width: calc(var(--width) - var(--margin));
  height: 32px;
  user-select: none;
  background-color: var(--default-background-color);
  margin-right: var(--margin);
  transform: translateX(var(--offset));
  & * {
    cursor: default;
    position: absolute;
    bottom: 8px;
  }
  &-current {
    background-color: var(--lighten-background-color);
  }
  &-dragged {
    z-index: 10;
  }
}
.PictureTab_title {
}
.PictureTab_close {
  right: 8px;
}
.PictureTabFill {
  box-sizing: border-box;
  flex: 1;
  height: 32px;
}
