.ToolSelection {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ToolSelection_button {
  width: 50px;
  height: 50px;
  background-color: var(--tool-selection-background-color);
  border: 1px solid var(--tool-selection-border-color);
  &::before {
    margin: 0;
  }
}
.ToolSelection_button-selected {
  background-color: var(--tool-selection-background-color-selected);
}
