:root {
  /* fonts */
  --default-font-family: BlinkMacSystemFont, "Segoe UI";
  /* colors */
  --default-color: #ECEEF4;
  --default-background-color: #141414;
  --darken-background-color: #0A0A0A;
  --lighten-background-color: #1F1F1F;
  --ui-background-color: #454854;
  --ui-primary-background-color: #1472DF;

  --panel-title-color: #AAACB3;

  --preview-panel-background-color: color(#8CF08C alpha(20%));
  --preview-panel-border-color: color(#8CF08C alpha(20%));

  --range-slider-fill-background-color: #FF6D1C;
}
