:root {
  /* fonts */
  --default-font-family: LatoWeb;
  /* colors */
  --default-color: #ECEEF4;
  --default-background-color: #292B32;
  --default-border-color: #22232A;
  --selected-background-color: #1B1C21;
  --darken-background-color: #22232A;
  --lighten-background-color: #2E3037;
  --ui-background-color: #454854;
  --ui-primary-background-color: #1472DF;

  --panel-title-color: #C7C9D1;

  --preview-panel-background-color: color(#8CF08C alpha(20%));
  --preview-panel-border-color: color(#8CF08C alpha(20%));

  --range-slider-fill-background-color: #FF6D1C;
}
